<div class="container">
    <div class="inputOutputContainer">
    <div class="inputContainer">
        <h1>&#64;Input</h1>
            
            <p-button id="inc" (click)="inc()">➕</p-button> 
            <p-button id="dec" (click)="dec()">➖</p-button>
        <app-display-input [childValue]="parentValue"></app-display-input>
        
    </div>
    <hr id="divider">
    <div class="outputcontainer">
        <h1>&#64;Output</h1>
        <h3>Verdi hentet fra &#64;Output komponenten: 
            <li *ngFor="let value of values">{{value}}</li>
        </h3>
        <hr id="divider">
        <app-display-output (addItemEvent)="addItemParent($event)"></app-display-output>
    </div>
    </div>
</div>