.container {
    display: flex;
    justify-content: center;
}
.inputOutputContainer {
    display: flex;
    flex-direction: column;
}
#buttonSpan {
    display: flex;

}
#divider {
    color: #131420;
}

#inc {
    padding-right: 8px;
}

#dec {
padding-left: 8px;
}