.container {
    display: flex;
    justify-content: center;
}
.directiveContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.ngClassContainer {
    
}

.red {
    width: 129px;
    height: 129px;
    background-color: red !important;
}
.box {
    width: 129px;
    height: 129px;
    background-color: white;
}