.container {
    display: flex;
    justify-content: center;
}

.ngClassContainer {
}

.red {
    width: 129px;
    height: 129px;
    background-color: red !important;
}
.box {
    width: 129px;
    height: 129px;
    background-color: white;
}