// Shamelessly inspired by: https://jarv.is/notes/css-waving-hand-emoji/ 
.wave {
    animation-name: wave-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(24.0deg) }  
   20% { transform: rotate(-6.0deg) }
   30% { transform: rotate(16.0deg) }
   40% { transform: rotate(-6.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}


.welcomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.greeting {
   margin-top: 1%;
}
#maintext{
 display: flex;
 justify-content: center;
}
#subtext {
 display: flex
}